:root {
  --icon-size-scale: 0.5;

  --category-container-width: calc(var(--icon-size-scale) * 120px);
  --category-title-height: calc(var(--icon-size-scale) * 38px);
  --category-title-font-size: calc(var(--icon-size-scale) * 16px);
  --icon-wrapper-size: calc(var(--icon-size-scale) * 60px);
  --icon-size: calc(var(--icon-size-scale) * 37px);
  --icon-sprite-size: calc(var(--icon-size-scale) * 46px);
  --icon-sprites-image-size: calc(9 * var(--icon-sprite-size) - calc(var(--icon-size-scale) * 9px));
  --shift: var(--icon-sprite-size);
}

.ck-category {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: var(--category-container-width);
  margin: 0 3px 15px;
  z-index: 1;
}

.ck-category__title {
  width: 100%;
  height: var(--category-title-height);
  line-height: var(--category-title-height);
  font-size: var(--category-title-font-size);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  color: #4f4f4f;
}

.ck-category__icon-wrapper {
  position: relative;
  margin: 10px 0;
  width: var(--icon-wrapper-size);
  height: var(--icon-wrapper-size);
  overflow: hidden;
  border-radius: 50%;
  background: #c1c5c9;
  cursor: pointer;
}
.ck-category__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--icon-size);
  height: var(--icon-size);
  margin: auto;
  background-image: url("../assets/web_1x.png")
}
@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
  .ck-category__icon {
    background-image: url("../assets/web_2x.png");
    background-size: var(--icon-sprites-image-size) var(--icon-sprites-image-size);
  }
}

.ck-category_income .ck-category__icon-wrapper,
.ck-category_account .ck-category__icon-wrapper,
.ck-category_expense .ck-category__icon-wrapper {
  box-shadow: 0 2px 9px 0 rgb(0 0 0 / 13%);
}
.ck-category_income .ck-category__icon-wrapper {
  background-color: #0491d1;
}
.ck-category_account .ck-category__fill {
  background-color: #fc0;
}
.ck-category_expense .ck-category__fill {
  background-color: #0ac38e;
}

/* icons sprites bg positions */
.ck-category__icon_airplane {
  background-position: calc(-1 * var(--shift)) 0;
}
.ck-category__icon_at {
  background-position: calc(-6 * var(--shift)) calc(-4 * var(--shift));
}
.ck-category__icon_bandaid {
  background-position: 0 calc(-1 * var(--shift));
}
.ck-category__icon_bank {
  background-position: calc(-1 * var(--shift)) calc(-1 * var(--shift));
}
.ck-category__icon_barchart {
  background-position: calc(-2 * var(--shift)) 0;
}
.ck-category__icon_bars {
  background-position: calc(-2 * var(--shift)) calc(-1 * var(--shift));
}
.ck-category__icon_beauty {
  background-position: 0 calc(-2 * var(--shift));
}
.ck-category__icon_beerglass {
  background-position: calc(-1 * var(--shift)) calc(-2 * var(--shift));
}
.ck-category__icon_bicycle {
  background-position: calc(-2 * var(--shift)) calc(-2 * var(--shift));
}
.ck-category__icon_bonus {
  background-position: calc(-3 * var(--shift)) 0;
}
.ck-category__icon_book {
  background-position: calc(-3 * var(--shift)) calc(-1 * var(--shift));
}
.ck-category__icon_books {
  background-position: calc(-3 * var(--shift)) calc(-2 * var(--shift));
}
.ck-category__icon_business {
  background-position: 0 calc(-3 * var(--shift));
}
.ck-category__icon_camera {
  background-position: calc(-1 * var(--shift)) calc(-3 * var(--shift));
}
.ck-category__icon_car {
  background-position: calc(-2 * var(--shift)) calc(-3 * var(--shift));
}
.ck-category__icon_card {
  background-position: calc(-3 * var(--shift)) calc(-3 * var(--shift));
}
.ck-category__icon_cards {
  background-position: calc(-4 * var(--shift)) 0;
}
.ck-category__icon_cash {
  background-position: calc(-4 * var(--shift)) calc(-1 * var(--shift));
}
.ck-category__icon_coffee {
  background-position: calc(-4 * var(--shift)) calc(-2 * var(--shift));
}
.ck-category__icon_controller {
  background-position: calc(-4 * var(--shift)) calc(-3 * var(--shift));
}
.ck-category__icon_credit {
  background-position: 0 calc(-4 * var(--shift));
}
.ck-category__icon_debt {
  background-position: calc(-1 * var(--shift)) calc(-4 * var(--shift));
}
.ck-category__icon_dice {
  background-position: calc(-2 * var(--shift)) calc(-4 * var(--shift));
}
.ck-category__icon_dramamasks {
  background-position: calc(-3 * var(--shift)) calc(-4 * var(--shift));
}
.ck-category__icon_dumbells {
  background-position: calc(-4 * var(--shift)) calc(-4 * var(--shift));
}
.ck-category__icon_eating {
  background-position: calc(-5 * var(--shift)) 0;
}
.ck-category__icon_emoney {
  background-position: calc(-5 * var(--shift)) calc(-1 * var(--shift));
}
.ck-category__icon_entertainment {
  background-position: calc(-5 * var(--shift)) calc(-2 * var(--shift));
}
.ck-category__icon_flower {
  background-position: calc(-5 * var(--shift)) calc(-3 * var(--shift));
}
.ck-category__icon_forkandknife {
  background-position: calc(-5 * var(--shift)) calc(-4 * var(--shift));
}
.ck-category__icon_fuel {
  background-position: 0 calc(-5 * var(--shift));
}
.ck-category__icon_gifts {
  background-position: calc(-7 * var(--shift)) calc(-8 * var(--shift));
  width: calc(var(--icon-size-scale) * (32 / 37) * 37px);
  height: calc(var(--icon-size-scale) * (33 / 37) * 37px);
}
.ck-category__icon_globe {
  background-position: calc(-2 * var(--shift)) calc(-5 * var(--shift));
}
.ck-category__icon_gradhat {
  background-position: calc(-3 * var(--shift)) calc(-5 * var(--shift));
}
.ck-category__icon_grapes {
  background-position: calc(-4 * var(--shift)) calc(-5 * var(--shift));
}
.ck-category__icon_groceries {
  background-position: calc(-5 * var(--shift)) calc(-5 * var(--shift));
}
.ck-category__icon_guitar {
  background-position: calc(-6 * var(--shift)) 0;
}
.ck-category__icon_hammer {
  background-position: calc(-6 * var(--shift)) calc(-1 * var(--shift));
}
.ck-category__icon_hitech {
  background-position: calc(-6 * var(--shift)) calc(-2 * var(--shift));
}
.ck-category__icon_hobbies {
  background-position: calc(-6 * var(--shift)) calc(-3 * var(--shift));
}
.ck-category__icon_house {
  background-position: 0 0;
}
.ck-category__icon_household {
  background-position: calc(-6 * var(--shift)) calc(-5 * var(--shift));
}
.ck-category__icon_insurance {
  background-position: 0 calc(-6 * var(--shift));
}
.ck-category__icon_internet {
  background-position: calc(-1 * var(--shift)) calc(-6 * var(--shift));
}
.ck-category__icon_investments {
  background-position: calc(-2 * var(--shift)) calc(-6 * var(--shift));
}
.ck-category__icon_iphone {
  background-position: calc(-3 * var(--shift)) calc(-6 * var(--shift));
}
.ck-category__icon_ipod {
  background-position: calc(-4 * var(--shift)) calc(-6 * var(--shift));
}
.ck-category__icon_kids {
  background-position: calc(-5 * var(--shift)) calc(-6 * var(--shift));
}
.ck-category__icon_man {
  background-position: calc(-6 * var(--shift)) calc(-6 * var(--shift));
}
.ck-category__icon_medical {
  background-position: calc(-7 * var(--shift)) 0;
}
.ck-category__icon_miscellaneous {
  background-position: calc(-7 * var(--shift)) calc(-1 * var(--shift));
}
.ck-category__icon_newspaper {
  background-position: calc(-7 * var(--shift)) calc(-2 * var(--shift));
}
.ck-category__icon_note {
  background-position: calc(-7 * var(--shift)) calc(-3 * var(--shift));
}
.ck-category__icon_paintroller {
  background-position: calc(-7 * var(--shift)) calc(-4 * var(--shift));
}
.ck-category__icon_pets {
  background-position: calc(-7 * var(--shift)) calc(-5 * var(--shift));
}
.ck-category__icon_phone {
  background-position: calc(-7 * var(--shift)) calc(-6 * var(--shift));
}
.ck-category__icon_pictureframe {
  background-position: 0 calc(-7 * var(--shift));
}
.ck-category__icon_piechart {
  background-position: calc(-1 * var(--shift)) calc(-7 * var(--shift));
}
.ck-category__icon_plant {
  background-position: calc(-2 * var(--shift)) calc(-7 * var(--shift));
}
.ck-category__icon_poison {
  background-position: calc(-3 * var(--shift)) calc(-7 * var(--shift));
}
.ck-category__icon_property {
  background-position: calc(-4 * var(--shift)) calc(-7 * var(--shift));
}
.ck-category__icon_ramen {
  background-position: calc(-5 * var(--shift)) calc(-7 * var(--shift));
}
.ck-category__icon_recordplayer {
  background-position: calc(-6 * var(--shift)) calc(-7 * var(--shift));
}
.ck-category__icon_reminder {
  background-position: calc(-7 * var(--shift)) calc(-7 * var(--shift));
}
.ck-category__icon_salary {
  background-position: calc(-8 * var(--shift)) 0;
}
.ck-category__icon_savings {
  background-position: calc(-8 * var(--shift)) calc(-1 * var(--shift));
}
.ck-category__icon_shoppingbag {
  background-position: calc(-8 * var(--shift)) calc(-2 * var(--shift));
}
.ck-category__icon_shoppingcart {
  background-position: calc(-8 * var(--shift)) calc(-3 * var(--shift));
}
.ck-category__icon_spiderweb {
  background-position: calc(-8 * var(--shift)) calc(-4 * var(--shift));
}
.ck-category__icon_sport {
  background-position: calc(-8 * var(--shift)) calc(-5 * var(--shift));
}
.ck-category__icon_tv {
  background-position: calc(-8 * var(--shift)) calc(-7 * var(--shift));
}
.ck-category__icon_transport {
  background-position: 0 calc(-8 * var(--shift));
}
.ck-category__icon_travelling {
  background-position: calc(-1 * var(--shift)) calc(-8 * var(--shift));
}
.ck-category__icon_tshirt {
  background-position: calc(-8 * var(--shift)) calc(-6 * var(--shift));
}
.ck-category__icon_wineglass {
  background-position: calc(-3 * var(--shift)) calc(-8 * var(--shift));
}
.ck-category__icon_wardrobe {
  background-position: calc(-2 * var(--shift)) calc(-8 * var(--shift));
}
.ck-category__icon_woman {
  background-position: calc(-4 * var(--shift)) calc(-8 * var(--shift));
}
.ck-category__icon_wrench {
  background-position: calc(-5 * var(--shift)) calc(-8 * var(--shift));
}
.ck-category__icon_city {
  background-position: calc(-1 * var(--shift)) calc(-5 * var(--shift));
}
.ck-category__icon_display {
  background-position: calc(-6 * var(--shift)) calc(-8 * var(--shift));
}
