:root {
  --bg-color: white;
  --text-color: #333;
  --font-weight: 500;

  --dropzone-hover-bg-color: lightsteelblue;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #181818;
    --text-color: #f0f0f0;
    --font-weight: 400;
    --dropzone-hover-bg-color: darkslateblue;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: -apple-system, "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: var(--font-weight);
}

.fade-enter-active,
.fade-leave-active {
  pointer-events: none;
  transition: opacity 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
